{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Горняк</title>
    <link rel="shortcut icon" href="{% static 'gornyak/images/logo3.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link type="text/css" href="{% static 'gornyak/css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6" >
                <div style="float: left;">
                <img src="{% static 'gornyak/images/logo2.png' %}" alt="Иконка Горного университета" width="100" height="120">
                </div>
                <div style="padding: 50px 0">
                <h1 class="text-center text-white">Спортивный клуб Горняк</h1>
                </div>
        </div>
        <div class="col-6 text-end">
          {% if user.is_authenticated %}
            <span class="text-white">{{ user.first_name }}</span>
            <a href="{% url 'accounts:profile' %}" class="btn btn-light">Личный кабинет</a>
            <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-light">Выйти</button>
            </form>
          {% else %}
            <a href="{% url 'accounts:login' %}" class="btn btn-light">Войти</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                {% block content %}
                <!-- Дочерние шаблоны вставляют свой контент сюда -->
                {% endblock %}
            </div>
        </div>
    </div>

<footer class="bg-dark text-light">
    <div class="container py-4">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12 footer-divider footer-divider2 ">
          <div class="footer-text">
            <h6>Адрес</h6>
            <p>199106, Санкт-Петербург, Васильевский остров, 21 линия, д.2;</p>
            <h6 style="margin-top: 15px;">Время работы</h6>
            <p>Понедельник-Четверг: с 8.30 до 17.15</p>
            <p>Пятница: с 8.30 до 16.15</p>
            <h6 style="margin-top: 15px;">
                <a href="https://priem.spmi.ru/" class="custom-link"> Приемная комиссия </a>
            </h6>
              <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/sites/default/files/imci_images/univer/document/2023/kartochka-organizacii-deystvuyut-s-01.11.2023.pdf" class="custom-link"> Реквизиты Университета </a>
              </h6>
              <h6 style="margin-top: 15px;">
                <a class="custom-link"> Телефон справочной службы: 8-812-382-01-28 </a>
              </h6>
              <h6 style="margin-top: 15px;">
                <a href="http://3dtour.spmi.ru/" class="custom-link"> 3d-тур </a>
              </h6>
              <h6 style="margin-top: 15px;">
                <a href="https://digital.spmi.ru/minecite/works" class="custom-link"> MineCite </a>
              </h6>
              <h6 style="margin-top: 15px;">
                <a href="https://oplata.spmi.ru/" class="custom-link"> Оплата услуг </a>
              </h6>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12 footer-divider">
          <div class="footer-text">
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/gornyi-universitet-segodna" class="custom-link"> Университет </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://priem.spmi.ru/" class="custom-link"> Поступающим </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/obrazovanie" class="custom-link"> Образование </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="http://nauka.spmi.ru/" class="custom-link"> Наука и инновации </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/prepodavatelyam-sotrudnikam" class="custom-link"> Преподавателям,сотрудникам </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/node/16927" class="custom-link"> Студентам </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/node/16926" class="custom-link"> Аспирантам </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/node/16940" class="custom-link"> Выпускникам </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/obschezhitiya" class="custom-link"> Общежития </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/mezdunarodnaa-deatelnost" class="custom-link"> Международная деятельность </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/sovet-obuchayuschikhsya-gornyak" class="custom-link"> Совет обучающихся "Горняк" </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="http://students.spmi.ru/" class="custom-link"> Студенческая жизнь </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/vakansii-v-gornom-universitete" class="custom-link"> Вакансии в горном университете </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/kontakti" class="custom-link"> Контакты </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/form/obrasenia-grazdan" class="custom-link"> Обращения граждан </a>
            </h6>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12 footer-divider">
          <div class="footer-text">
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/dostupnye-servisy-dla-obucausihsa" class="custom-link"> Доступные сервисы для обучающихся  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/dostupnye-servisy-dla-prepodavateleisotrudnikov" class="custom-link"> Доступные сервисы для преподавателей/сотрудников  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="http://disp01.spmi.edu.ru/" class="custom-link">  Диспетчерская служба  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="http://helpdesk2.spmi.edu.ru/podat-zayavku" class="custom-link"> Техническая поддержка  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="http://personalii.spmi.ru/" class="custom-link"> Персоналии  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/svedenia-o-dohodah-ob-imusestve-i-obazatelstvah-imusestvennogo-haraktera" class="custom-link"> Сведения о доходах  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/sites/default/files/rectorat_pdf/str-zp_rotate.pdf" class="custom-link"> Структура формирования заработной платы  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/sites/default/files/rectorat_pdf/srednyaya-zarabotnaya-plata.pdf" class="custom-link"> Сведения о средней заработной плате персонала   </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="http://zayavki.spmi.ru/user" class="custom-link"> Заявки на помещение </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/uchenye-zvaniya" class="custom-link"> Присвоение ученых званий </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/dissertacionnye-sovety-0" class="custom-link">Присуждение ученых степеней </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/konkurs-na-zamesenie-dolznostei-pedagogiceskih-rabotnikov" class="custom-link">Горный университет приглашает на работу </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/antikorrupcionnaa-deatelnost" class="custom-link"> Противодействие коррупции </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/antiterroristicheskaya-deyatelnost" class="custom-link"> Антитеррористическая деятельность  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/antinarkotik" class="custom-link"> Антинаркотическая деятельность  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/profilaktiki-grippa-orvi-koronavirusnoy-infekcii-i-ostrykh-kishechnykh-infekciy" class="custom-link">Профилактики гриппа, ОРВИ и короновирусной инфекции  </a>
            </h6>
            <h6 style="margin-top: 15px;">
                <a href="https://spmi.ru/sveden" class="custom-link">Сведения об образовательной организации  </a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>