{% extends 'gornyak/index.html' %}

{% block content %}
<!-- Центрирование заголовка -->
<h1 class="text-center black-text">{{ event.name }}</h1>

<!-- Основная информация -->
<div class="black-text">
    <p><strong>Start Date and Time:</strong> <span>{{ event.start_datetime }}</span></p>
    <p><strong>End Date and Time:</strong> <span>{{ event.end_datetime }}</span></p>
    <p><strong>Location:</strong> <span>{{ event.location }}</span></p>
    <p><strong>Sport Type:</strong> <span>{{ event.sport_type }}</span></p>
    <p><strong>Status:</strong> <span>{{ event.get_status_display }}</span></p>
</div>

<!-- Описание с большим шрифтом -->
<div class="mt-4">
    <p class="description-text black-text">{{ event.description }}</p>
</div>

<!-- Кнопка возврата -->
<a href="{% url 'event_list' %}" class="btn btn-primary mt-3">Back to Events</a>
{% endblock %}