{% extends 'gornyak/index.html' %}

{% block content %}
<h1 class = text-center>Events</h1>

<form method="get" class="mb-4">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <label for="sport_type">Вид спорта</label>
            <select id="sport_type" name="sport_type" class="form-control">
                <option value="">Все</option>
                {% for sport in sport_types %}
                    <option value="{{ sport.id }}" {% if sport.id|stringformat:"s" == selected_sport %}selected{% endif %}>{{ sport.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <label for="location">Локация</label>
            <select id="location" name="location" class="form-control">
                <option value="">Все</option>
                {% for location in locations %}
                    <option value="{{ location.id }}" {% if location.id|stringformat:"s" == selected_location %}selected{% endif %}>{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <label for="date">Дата начала</label>
            <input type="date" id="date" name="date" class="form-control" value="{{ date|default_if_none:'' }}">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <label for="event_type">Тип мероприятия</label>
            <select id="event_type" name="event_type" class="form-control">
                <option value="">Все</option>
                <option value="individual" {% if selected_event_type == 'individual' %}selected{% endif %}>Individual</option>
                <option value="team" {% if selected_event_type == 'team' %}selected{% endif %}>Team</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <label for="status">Статус</label>
            <select id="status" name="status" class="form-control">
                <option value="">Все</option>
                <option value="registration" {% if selected_status == 'registration' %}selected{% endif %}>Регистрация</option>
                <option value="completed" {% if selected_status == 'completed' %}selected{% endif %}>Завершено</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100">Фильтр</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Локация</th>
            <th scope="col">Вид спорта</th>
            <th scope="col">Тип мероприятия</th>
            <th scope="col">Статус</th>
            <th scope="col">Подробнее</th>
        </tr>
    </thead>
    <tbody>
        {% for event in page_obj %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start_datetime|date:"Y-m-d" }}</td>
                <td>{{ event.location.name }}</td>
                <td>{{ event.sport_type.name }}</td>
                <td>{{ event.get_event_type_display }}</td>
                <td>{{ event.get_status_display }}</td>
                <td><a href="{% url 'event_detail' event.id %}">Подробнее</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if sport_type %}&sport_type={{ sport_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}{% if date %}&date={{ date }}{% endif %}{% if event_type %}&event_type={{ event_type }}{% endif %}{% if status %}&status={{ status }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if sport_type %}&sport_type={{ sport_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}{% if date %}&date={{ date }}{% endif %}{% if event_type %}&event_type={{ event_type }}{% endif %}{% if status %}&status={{ status }}{% endif %}">&lsaquo; previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if sport_type %}&sport_type={{ sport_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}{% if date %}&date={{ date }}{% endif %}{% if event_type %}&event_type={{ event_type }}{% endif %}{% if status %}&status={{ status }}{% endif %}">next &rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if sport_type %}&sport_type={{ sport_type }}{% endif %}{% if location %}&location={{ location }}{% endif %}{% if date %}&date={{ date }}{% endif %}{% if event_type %}&event_type={{ event_type }}{% endif %}{% if status %}&status={{ status }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
