html, body {
  height: 100%;
  margin: 0;
}

.container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

header   {
    background: linear-gradient(to right,  rgba(14,27,56,1) 0%,rgba(57,90,211,1) 100%);

}



header,section, footer {
    padding: 10px 0;
}

.footer-divider {
      border-right: 1px solid white;
}

.footer-divider2 {
    border-left: 1px solid white;
}

.footer-text {
    color: white;
}

p {
      font-size: 16px;
      line-height: 1.5;
      margin: 5px 0;
    }

.custom-link {
     color: white;
     text-decoration: none;
     cursor: pointer;
}

.custom-link:hover{
    color:blue;
}

.description-text {
    font-size: 1.5rem; /* Увеличенный шрифт */
    width: 100%; /* Ширина по всей странице */
    text-indent: 2em; /* Отступ для первой строки каждого абзаца */
    margin-top: 1em; /* Отступ сверху для каждого абзаца */
    line-height: 1.6; /* Междустрочный интервал для улучшения читабельности */
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}
